body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    max-width: 1440px;
    margin: 0 auto;
}

//------STERT OF header----------------------------
header {
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #565860;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 16px;
}

.center {
    padding-left: calc(50% - 210px);
    padding-right: calc(50% - 210px);
}

//------END OF header----------------------------


//------START OF slider------------------
.slider {
    padding-bottom: 121px;
    margin: 0 auto;
}

.slider--big {
    display: none;
}

.carousel-item {
    box-sizing: border-box;
}

.carousel-control-prev {
    z-index: 2;
    top: calc(100% + 30px);
    left: calc(50% - 158px);
    opacity: 1 !important;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #923DA0;
    }
}

.carousel-control-next {
    z-index: 2;
    top: calc(100% + 30px);
    left: calc(50% + 121px);
    opacity: 1 !important;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #923DA0;
    }
}

.carousel-control-prev-icon {
    background-image: url(img/icon/i_prev.svg);
    height: 13px;
    width: 6px;
    opacity: 1 !important;
}

.carousel-control-next-icon {
    background-image: url(img/icon/i_next.svg);
    height: 13px;
    width: 6px;
    opacity: 1 !important;
}

.slider__content-indicators {
    top: calc(100% + 17px);
    height: 60px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__content-btn {
    border: 2px solid #CCCCCC;
    padding: 0px;
    margin: 0px 6px !important;
    height: 60px !important;
    width: 60px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1 !important;

    &:hover {
        border: 2px solid #923DA0;
    }

    &:first-child {
        background-image: url(img/icon/i_Group_1002.jpg);
    }

    &:nth-child(2) {
        background-image: url(img/icon/i_Group_1003.jpg);
    }

    &:last-child {
        background-image: url(img/icon/i_Group_1004.jpg);
    }
}

.slider__content-btn.active {
    border: 2px solid #923DA0;
}

//------END OF slider------------------


//------START OF info-------------------
.info {
    color: #131414;
}

.ifo__heading {
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.info__text {
    font-size: 18px;
    line-height: 127.4%;
    margin-bottom: 14px;
}

.info__text--medium {
    font-weight: 500;
}

.info__indicator {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: left;
}

.info__indicator-item:first-child {
    padding-right: 15px;
}

.rating {
    padding-left: 13px;
}

.info__indicator-item:nth-child(2) {
    padding-right: 5px;
    padding-left: 14px;
    border-right: 1px solid #727272;
    border-left: 1px solid #727272;
}

.info__indicator-item:nth-child(3) {
    padding-left: 11px;
}

.info__delivery {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
}

//------END OF info-------------------


//------START OF buy-----------------
.buy {
    color: #131414;
}

.buy__price-block {
    display: flex;
    justify-content: start;
}

.buy__new-cost {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
}

.buy__old-cost {
    margin-left: 19px;
    margin-top: 21px;
    width: 67px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #727272;
    text-decoration: line-through #FF0000;
}

.buy__discount {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FF6B00;
    font-weight: 600;
    font-size: 16px;
    line-height: 114.9%;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 27px;
}

.buy__dynamic-block {
    display: flex;
    justify-content: space-between;
}

.count-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 114px;
}

.count-box__text {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #727272;
    margin-bottom: 13px;
}

.count-box__inner {
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 29px;
    background: #EFEFEF;
    height: 37px;
    font-weight: normal;
    font-size: 20px;
    line-height: 99.19%;
    text-align: center;
    color: #565860;
    padding: 0px;
}

.minus,
.plus {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 37px;
}

.count-box__inner-svg {
    width: 9px;
    height: 9px;
}

.inp-price {
    width: 40px;
    height: 35px;
    text-align: center;
    border: none;
    padding: 0;
}

.timer__heading {
    display: flex;
    align-items: center;

    &::before {
        content: url(img/icon/i_Group_572.svg);
        margin-right: 6px;
        margin-top: 4px;
    }
}

.timer__text {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 109.9%;
    margin-bottom: 0;
}

.timer__content {
    display: flex;
    justify-content: center;
    margin-left: 24px;
}

.timer__item {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    height: 55px;
    width: 60px;
    background: #FFD600;
}

.timer__item-num {
    text-align: center;
    text-transform: uppercase;
    margin-top: 4px;
}

.timer__item-seporator {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 7px;
}

.timer__item-interval {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-top: 3px;
    text-align: center;
}

.buy__btn {
    margin-top: 42px;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #FF6B00;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 10px;
    transition: all 150ms ease-in;

    &:hover {
        background-color: #923DA0;
    }
}

.buy__btn-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 99.19%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.buy__btn-cost {
    font-weight: bold;
    font-size: 33px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 19px;
    margin-right: 28px;
}

.buy__btn-old-cost {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #4A1414;
}

//------END OF buy-------------------


//------START OF section instructions----------
.instruction {
    background-color: #F4C4FC;
    color: #131414;
}

.instruction__img {
    width: 100%;
    height: auto;
}

.instruction__heding {
    background-color: #fff;
    padding-top: 27px;
    padding-bottom: 35px;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 127%;
    text-transform: uppercase;
}

.instruction__item-img {
    margin-left: -55px;
}

.instruction__items {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.instruction__item {
    display: flex;
    align-items: center;
    margin-left: 103px;
    background: #FFF;
    height: 90px;
    width: calc(100% - 103px);
    margin-top: 60px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    &:first-child {
        margin-top: 0px;
    }

}

.instruction__item-num {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #923DA0;
    font-weight: bold;
    font-size: 49px;
    line-height: 60px;
    margin-right: 12px;
    margin-left: 22px;
}

.instruction__item-text {
    margin: 0;
    justify-content: flex-end;
}

//----END OF Sections instruction--------------


//-------------------------media max-width 350px
//-------------------------
@media (max-width: 350px) {
    header {
        font-size: 20px;
    }

    .slider {
        padding-bottom: 80px;
    }

    .slider__content-btn {
        padding: 0px;
        margin: 0px 6px !important;
        height: 20px !important;
        width: 20px !important;
        opacity: 1 !important;
        background-color: #EFEFEF;

        &:first-child,
        &:nth-child(2),
        &:last-child {
            background-image: none;
            border-radius: 50%;
            background-color: #EFEFEF;
            border: 2px solid transparent;
        }

        &:hover {
            border: 2px solid #923DA0;
        }
    }

    .slider__content-btn.active {
        border: 2px solid #923DA0;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .ifo__heading {
        font-size: 22px;
    }

    .info__indicator {
        flex-direction: column;
        align-items: center;
    }

    .info__indicator-item {
        margin-bottom: 5px;

        &:first-child {
            padding-right: 0;
        }

        &:nth-child(2) {
            padding: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            border: none;
            border-top: 1px solid #727272;
            border-bottom: 1px solid #727272;
        }

        &:nth-child(3) {
            padding-left: 0px;
        }
    }

    .instruction__items {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .instruction__item {
        width: calc(100% - 50px);
        margin-top: 10px;
        margin-left: 50px;
    }

    .instruction__item-num {
        font-size: 38px;
    }
}


//--------------------------media max-width 430px
//-----------------------------
@media (max-width: 430px) {

    .slider {
        padding-bottom: 100px;
    }

    .info {
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }

    .ifo__heading {
        font-size: 28px;
    }

    .buy__price-block {
        flex-direction: column;
        flex-flow: column wrap;
        align-items: center;
    }

    .buy__old-cost {
        order: -1;
        margin: 0;
    }

    .buy__discount {
        display: none;

    }

    .buy__dynamic-block {
        flex-direction: column;
        align-items: center;
    }

    .buy__btn {
        margin: 20px auto 0;
        padding-top: 0;
        width: 277px;
        height: 59px;
        display: flex;
        align-items: center;
    }

    .buy__btn-cost,
    .buy__btn-old-cost {
        display: none;
    }

    .instruction__heding {
        font-size: 23px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .instruction__item {
        height: 100%;
        margin-top: 20px;
    }

    .instruction__item-img {
        height: 80px;
        margin-left: -44px;
    }

    .instruction__item-text {
        font-size: 12px;
        line-height: 16px;
    }
}

//--------------------------media min-width 612px
//-----------------------------
@media (min-width: 612px) {

    .slider--small {
        display: none;
    }

    .slider--big {
        display: block;
    }
}

//--------------------------media min-width 660px
//-----------------------------
@media (min-width: 660px) {
    .instruction__img {
        display: none;
    }

    .instruction__items {
        justify-content: center;
        background-image: url(img/Bg_img/b_Group_988.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        padding: 0;
        height: 572px;
    }

    .instruction__item {
        margin-left: 150px;
        height: 70px;
        width: 461px;
        border-radius: 241px;
    }

    .instruction__item-num {
        margin-right: 23px;
        margin-left: 28px;
    }

    .instruction__item-text {
        justify-content: center;
    }

}

//--------------------------media min-width 820px
//-----------------------------
@media (min-width: 820px) {
    .instruction__item {
        margin-left: calc(100% - 634px);

    }
}

//--------------------------media min-width 850px
//-----------------------------
@media (min-width: 850px) {

    header {
        background: #F1DDF4;
    }

    .slider--big {
        display: none;
    }

    .slider--small {
        display: block;
        width: 50%;
        margin-right: 61px;
    }

    .slider__content-indicators {
        top: calc(100% + 50px);
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: calc(100% + 60px);
    }

    .buy__price-block {
        flex-direction: column;
        justify-content: space-between;
        flex-flow: wrap;
        max-width: 248px;
    }

    .buy__old-cost {
        order: -1;
        margin: 0;
        padding-top: 24px;
    }

    .buy__discount {
        order: -1;
    }


    .buy__btn {
        margin: 32px 0 0;
        padding-top: 0;
        width: 277px;
        height: 59px;
        display: flex;
        align-items: center;
    }

    .buy__btn-cost,
    .buy__btn-old-cost {
        display: none;
    }

    .order {
        display: flex;
        justify-content: space-between;
        padding-top: 34px;
        padding-left: calc(50% - 620px);
        padding-right: calc(50% - 620px);
    }

    .center {
        padding: 0;
    }

    .order__container {
        width: 50%;
    }

    .instruction {
        background: #fff;
    }

    .instruction__heding {
        padding-top: 42px;
        padding-bottom: 32px;
    }
}

//--------------------------media min-width 1110px
//-----------------------------
@media (min-width: 1110px) {

    .count-box {
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .timer {
        margin-top: -90px;
        margin-bottom: 60px;
    }

    .count-box__text {
        margin-right: 21px;
        margin-bottom: 0;
    }

    .slider--small {
        display: none;
    }

    .slider--big {
        display: block;
        width: 50%;
        margin-right: 61px;
        padding-bottom: 79px;
    }

    .buy__dynamic-block {
        align-items: flex-end;
    }

    .buy__btn {
        margin: 22px 0 0;
    }

}


//--------------------------media min-width 1440px
//-----------------------------
@media (min-width: 1440px) {
    .order {
        justify-content: center;
    }

}
